/* ------------------------------
   Brockmann Font
------------------------------ */
@font-face {
  font-family: 'Brockmann';
  src: url('/fonts/Brockmann-Regular.woff2') format('woff2'),
       url('/fonts/Brockmann-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Brockmann';
  src: url('/fonts/Brockmann-Medium.woff2') format('woff2'),
       url('/fonts/Brockmann-Medium.woff') format('woff');
  font-weight: 500;
}

/* ------------------------------
   Global Typography
------------------------------ */
/* my-restaurant-menu/app/globals.css */

body {
    font-family: 'Brockmann', sans-serif; /* Fallback a una fuente sans-serif genérica */
}


/* paper texture */
.noise {
  pointer-events: none;
  position: fixed;
  inset: 0;
  background-image: url('/noise.png'); /* we will generate this if needed */
  opacity: 0.18;
  mix-blend-mode: multiply;
  z-index: 99999;
}
